*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
}


#nav{
    height: 20%;
    width: 100%;
    /*background-color: red;*/
    display: flex;
    align-items: center;
   
    
    
}
.left{
    width: 46%;
}
.left img{
    height: 68px;
    margin-left: 30px;
    margin-top: 15px;
}
.middle{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    left: 0;
    margin-top: 20px;
    margin-right: 180px;
}
.middle h4{
color: black;
cursor: pointer;
}
.middle h4:hover{
    opacity: 0.5;
    transition: all ease 0.5s;
}
.right{
margin-top: 25px;


}
.right img{
    margin-right: 15px;
}
#page1{
height: 80vh;
width: 100%;

}
#heading-box{
    font-family: 'Plus Jakarta Sans', sans-serif;
    height: 50%;
    padding-left: 120px;
   /* background-color: red;*/
    margin-top:180px ;
    
}
.heading{
    font-size: 4.513888888888888vw;
    margin-top:60px ;
    color: black;
    margin-bottom: 30px;
    font-family: 'montserrat';

}
.heading span{
    color: blue;
}

.ex-box{
    display:inline-block;
    vertical-align: middle;
    
}
.ex{
    font-size: 1.6666666666666665vw;
    color: black;
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
}
.ex-img{
    margin-bottom: px;
    
}
.gs{
    background-color:#F86F54;
    padding: 20px 70px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 15px;
    text-decoration: none;
    border: none;
    transition: transform 1s ease;
    cursor: pointer;

}
.gs:hover {
    transform: scale(1.3); 
}
#page2{
    height: 100vh;
    width: 100%;
    /*background-color: red;*/
    position: relative;
    }

#info
{
    height: 20%;
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
   
}
#left-side,
#mid-side,
#right-side{
    display: inline-block;
    vertical-align: middle;    
}
#left-side h3,
#mid-side h3,
#right-side h3{
    display: inline-block;
    align-items: center;
    margin-left: 15px;
    color: black;
}
.img-container-l{
    display: flex;
    flex-direction: column;
    text-align: center;
     align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 50%;
    
}
.img-container-m{
    display: flex;
    flex-direction: column;
    text-align: center;

    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #FBF1F0;
    border: 1px none grey;
    border-radius: 50%;
}
.img-container-r{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #EEEFF9;
    border: 1px none grey;
    border-radius: 50%;
}
#left-side img{
    display: block;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: auto;
}
#mid-side img,
#right-side img{
    display: inline-block;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}




























































